<p id="notice"><%= notice %></p>

<h1>Webs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Element</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @webs.each do |web| %>
      <tr>
        <td><%= web.name %></td>
        <td><%= web.element %></td>
        <td><%= link_to 'Show', web %></td>
        <td><%= link_to 'Edit', edit_web_path(web) %></td>
        <td><%= link_to 'Destroy', web, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Web', new_web_path %>
