


<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @web.name %>
</p>

<p>
  <strong>Element:</strong>
  <%= @web.element %>
</p>

<%= link_to 'Edit', edit_web_path(@web) %> |
<%= link_to 'Back', webs_path %>
